/* Style sheet for portfolio */
html { font-family: helvetica, sans-serif; }
header {background-color: rgb(48, 221, 221); /* pale blue */
		text-align: center;
		font-family: arial, sans-serif;
		padding: 5px;}
.block {display: block;}
.header {background-color: skyblue;
	display: block;
	padding: 5px;
	font-family: helvetica, sans-serif;}
hr {color: blue;}
a:hover { color: red; }
p.offset { position: relative;
	left: 10px; }